.semantic-function{
    -fx-fill: #E5C07B !important;
    -fx-font-weight: bold;
}

.semantic-variable{
    -fx-fill: #8CB8E4 !important;
    -fx-font-weight: bold;
}

.semantic-property{
    -fx-fill: #8CB8E4 !important;
    -fx-font-weight: bold;
}

.semantic-namespace{
    -fx-fill: #98C379 !important;
    -fx-font-weight: bold;
}
.semantic-class{
    -fx-fill: #d878e1 !important;
    -fx-font-weight: bold;
}
.semantic-struct{
    -fx-fill: #d878e1 !important;
    -fx-font-weight: bold;
}
.semantic-enum{
    -fx-fill: #d878e1 !important;
    -fx-font-weight: bold;
}
.semantic-operator{
    -fx-fill: #bb8ccf !important;
    -fx-font-weight: bold;
}
