.cpp-keyword{
    -fx-fill: #d2c2b2 !important;
    -fx-font-weight: bold;
}

.cpp-semicolon{
    -fx-font-weight: bold;
}

.cpp-paren {
    -fx-fill: firebrick !important;
    -fx-font-weight: bold;
}
.cpp-bracket {
    -fx-fill: darkgreen !important;
    -fx-font-weight: bold;
}
.cpp-brace {
    -fx-fill: teal !important;
    -fx-font-weight: bold;
}
.cpp-string {
    -fx-fill: #619b6b !important;
}

.cpp-comment {
    -fx-fill: cadetblue !important;
}
