.cpp-keyword{
    -fx-fill: #cf9a42 !important;
    -fx-font-weight: bold;
}

.cpp-type-keyword{
    -fx-fill: #68c073 !important;
    -fx-font-weight: bold;
}

.cpp-modifier-keyword{
    -fx-fill: #9248c9 !important;
    -fx-font-weight: bold;
}

.cpp-preprocessor-keyword{
    -fx-fill: #1687d1 !important;
    -fx-font-weight: bold;
}

.cpp-semicolon{
    -fx-font-weight: bold;
}

.cpp-paren {
    -fx-fill: #cdcbcb !important;
    -fx-font-weight: bold;
}
.cpp-bracket {
    -fx-fill: #cdcbcb !important;
    -fx-font-weight: bold;
}
.cpp-brace {
    -fx-fill: #cdcbcb !important;
    -fx-font-weight: bold;
}
.cpp-string {
    -fx-fill: #619b6b !important;
}

.cpp-comment {
    -fx-fill: cadetblue !important;
}
