.cpp-keyword{
    -fx-fill: #EE99C2 !important;
    -fx-font-weight: bold;
}

.cpp-type-keyword{
    -fx-fill: #5C88C4 !important;
    -fx-font-weight: bold;
}

.cpp-modifier-keyword{
    -fx-fill: #cd8cff !important;
    -fx-font-weight: bold;
}

.cpp-preprocessor-keyword{
    -fx-fill: #d878e1 !important;
    -fx-font-weight: bold;
}

.cpp-semicolon{
    -fx-font-weight: bold;
}

.cpp-paren {
    -fx-fill: #756AB6 !important;
    -fx-font-weight: bold;
}
.cpp-bracket {
    -fx-fill: #756AB6 !important;
    -fx-font-weight: bold;
}
.cpp-brace {
    -fx-fill: #756AB6 !important;
    -fx-font-weight: bold;
}
.cpp-string {
    -fx-fill: #98C379 !important;
}

.cpp-comment {
    -fx-fill: cadetblue !important;
}

.cpp-number {
    -fx-fill: #ff9d56 !important;
}
