AnchorPane{
    -fx-background-color: #1E1E1E;
}

TextArea{
    /*-fx-border-color: #2C2C2C #414141 #414141 #414141;*/
    -fx-background-color: #2C2C2C;
    -fx-background-radius: 0px 0px 5px 0px;
    -fx-text-fill: white;
    -fx-border-width:0px;
    -fx-font-size: 20px;
    -fx-border-radius: 0px 0px 5px 0px;
    -fx-padding: 0;
}
.text-area .content{
    -fx-background-radius:0px;
    -fx-border-radius: 0px;
    -fx-border-width: 0px;
    /*-fx-background-color: red;*/
    -fx-background-color: #2C2C2C;
}

.editor-popup{
    -fx-background-color: black;
    -fx-text-fill: white;
    -fx-padding: 5;
}


/*---------------------------------------------------SplitPane樣式------------------------------------------------------*/

.split-pane {
    -fx-border-color: transparent;
    /*-fx-border-radius: 5px;*/
    /*-rx-border-width: 5px;*/
    -fx-border-insets: 0;
    -fx-background-color: transparent;
}
.split-pane-divider{
    -fx-border-color: transparent;
    -fx-background-color: transparent;
}
