.py-keyword{
    -fx-fill: #cf9a42 !important;
    -fx-font-weight: bold;
}

.py-paren {
    -fx-fill: #cdcbcb !important;
    -fx-font-weight: bold;
}
.py-bracket {
    -fx-fill: #cdcbcb !important;
    -fx-font-weight: bold;
}
.py-brace {
    -fx-fill: #cdcbcb !important;
    -fx-font-weight: bold;
}
.py-string {
    -fx-fill: #619b6b !important;
}

.cpp-comment {
    -fx-fill: cadetblue !important;
}
