.cpp-keyword{
    -fx-fill: #EE99C2 !important;
    -fx-font-weight: bold;
}

.py-paren {
    -fx-fill: #cdcbcb !important;
    -fx-font-weight: bold;
}
.py-bracket {
    -fx-fill: #cdcbcb !important;
    -fx-font-weight: bold;
}
.py-brace {
    -fx-fill: #cdcbcb !important;
    -fx-font-weight: bold;
}
.py-string {
    -fx-fill: #98C379 !important;
}

.py-comment {
    -fx-fill: cadetblue !important;
}


.py-number {
    -fx-fill: #ff9d56 !important;
}