.semantic-function{
    -fx-fill: #FFE5E5 !important;
    -fx-font-weight: bold;
}

.semantic-variable{
    -fx-fill: #AC87C5 !important;
    -fx-font-weight: bold;
}

.semantic-namespace{
    -fx-fill: #98C379 !important;
    -fx-font-weight: bold;
}
.semantic-class{
    -fx-fill: #d878e1 !important;
    -fx-font-weight: bold;
}
.semantic-struct{
    -fx-fill: #d878e1 !important;
    -fx-font-weight: bold;
}
.semantic-enum{
    -fx-fill: #d878e1 !important;
    -fx-font-weight: bold;
}
.semantic-operator{
    -fx-fill: #d878e1 !important;
    -fx-font-weight: bold;
}