.semantic-function{
    -fx-fill: #e0dc89 !important;
    -fx-font-weight: bold;
}

.semantic-variable{
    -fx-fill: #98fa9f !important;
    -fx-font-weight: bold;
}

.semantic-namespace{
    -fx-fill: #d878e1 !important;
    -fx-font-weight: bold;
}
.semantic-class{
    -fx-fill: #d878e1 !important;
    -fx-font-weight: bold;
}
.semantic-struct{
    -fx-fill: #d878e1 !important;
    -fx-font-weight: bold;
}
.semantic-enum{
    -fx-fill: #d878e1 !important;
    -fx-font-weight: bold;
}
.semantic-operator{
    -fx-fill: #d878e1 !important;
    -fx-font-weight: bold;
}